For this part of the data, I will be using data from a popular Korean TV show where the hosts gave a perfect score to a restuarant within Seoul.

In [1]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_c3567093ff554a1eb8658fca049a47ff = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='X9z4weGeb2GXc929txvlxyuPfGBPPLS3z59G_J-bMSZL',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_c3567093ff554a1eb8658fca049a47ff.get_object(Bucket='capstoneproject-donotdelete-pr-5luqnqc5pjh3ui',Key='Restaurants.xlsx')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

seoul_res = pd.read_excel(body)
seoul_res.head()

   name        lat         lon
0  다성일식  37.556902  126.932980
1   봉산집  37.534425  126.975008
2  창고43  37.518958  126.930746
3  돕감자탕  37.541487  127.069284
4  대보명가  37.645687  127.007157

In [2]:
seoul_res.shape

(19, 3)

In [3]:
seoul_res

           name        lat         lon
0          다성일식  37.556902  126.932980
1           봉산집  37.534425  126.975008
2          창고43  37.518958  126.930746
3          돕감자탕  37.541487  127.069284
4          대보명가  37.645687  127.007157
5          해뜨는집  37.590069  127.008404
6     아이 해브어 드림  37.498618  127.027888
7      아현동 간장게장  37.554600  126.956100
8         왕소금구이  37.520409  127.036111
9      라틀리에 모니크  37.526182  127.044877
10      비스트로 딩고  37.521078  127.019810
11         줄리에뜨  37.494720  127.000938
12          충주집  37.586218  127.034549
13          영화루  37.580138  126.969040
14          일품헌  37.484503  127.039193
15        립스테이크  37.595568  126.964069
16          오가와  37.572026  126.974335
17        까사디노아  37.562084  126.923556
18  충무로 주꾸미 불고기  37.561769  126.992197

Map locations of the restaurants using folium.

In [ ]:
import numpy as np # library to handle data in a vectorized manner

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

import csv # implements classes to read and write tabular data in CSV form

print('Libraries imported.')

Solving environment: \

**Use geopy to get latitude and longitude coordinates of Seoul**

In [ ]:
address = 'Seoul, South Korea'

geolocator = Nominatim(user_agent="Jupyter")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Seoul are {}, {}.'.format(latitude, longitude))

In [ ]:
map_Seoul = folium.Map(location=[latitude, longitude], zoom_start=10)

# add markers to map
for lat, lng in zip(seoul_res['lat'], seoul_res['lon']):
    #label = '{}, {}'.format(neighborhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_Seoul)  
    
map_Seoul